<tr>
  <td><%=quantity%></td>
  <td><%=image_tag product_img, class: 'img-responsive'%></td>
  <td><%=product_name%></td>
  <td><%=product_desc%></td>
  <td><%=humanized_money_with_symbol total%></td>
</tr>